/* Import de la police Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.image-container h1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;

    color: red; /* pour tester, change après */
    z-index: 10; /* <<< ceci le met devant l’image */
    text-shadow: 2px 2px 4px black; /* rend lisible */
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -25%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 0, 0); /* Rouge vif pour tester */
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20px; /* Ajout pour qu'il ne soit pas derrière l'image */
    transform: translateX(-50%);
    font-size: 3rem; /* plus visible */
}


.content {
    padding: 20px;
    text-align: center;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
}

