/* Import de la police Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -25%;
}

h1 {
    font-family: 'Dancing Script', cursive; /* Police festive */
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    padding: 20px;
    text-align: center;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
}

