* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Cela permet de faire en sorte que l'image prenne la moitié de l'écran */
    overflow: hidden; /* Pour cacher la partie de l'image en dessous du milieu */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour couvrir toute la zone sans distorsion */
    position: absolute;
    top: -25%; /* Décale l'image vers le haut pour couper la partie du bas */
}

.content {
    padding: 20px;
    text-align: center;
}

.content h1 {
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
}

.title {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Great Vibes', cursive;
    font-size: 4.5em;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6), 0 0 25px rgba(255, 255, 255, 0.8); /* Ombre et brillance lumineuse */
    text-align: center;
    animation: shimmer 2s infinite; /* Animation de brillance */
}
