/* Import de la police Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

html::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("so-white.png");
    background-repeat: repeat;
    background-size: auto;
    opacity: 1; /* Mets 0.8, 1, 1.2, etc (oui >1 fonctionne si tu combines avec mix-blend-mode) */
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    background: transparent; /* IMPORTANT : pour ne pas cacher la texture */

}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Cela permet de faire en sorte que l'image prenne la moitié de l'écran */
    overflow: hidden; /* Pour cacher la partie de l'image en dessous du milieu */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour couvrir toute la zone sans distorsion */
    position: absolute;
    top: -25%; /* Décale l'image vers le haut pour couper la partie du bas */
}

.content {
    padding: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
}

.content h1 {
    position: relative;
    margin-top: -20px;
    margin-bottom: 300px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Dancing Script', cursive; /* 👉 Police appliquée au titre */
    font-size: 5rem;
    transform: translateY(-20px);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.content h1::before,
.content h1::after {
    content: "❄";
    font-size: 2rem;
    position: absolute;
    top: 0;
}

.content h1::before {
    left: -40px;
}

.content h1::after {
    right: -40px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 50px;
}
