/* Import de la police Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.image-container {
    width: 100%;
    height: 50vh; /* Ajuste la hauteur pour mieux contrôler */
    overflow: hidden;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour que l'image garde ses proportions sans déformation */
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: red; /* Change cette couleur comme tu veux */
    text-align: center;
    margin-top: 20px; /* Marge au-dessus pour le séparer de l'image */
    z-index: 10;
    text-shadow: 2px 2px 4px black; /* Lisibilité */
}



.content {
    padding: 20px;
    text-align: center;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
}

