/* Import de la police Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

html::before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0.9;
    mix-blend-mode: multiply; /* rend le papier mieux */
    z-index: -1;
}

body {
    font-family: 'Dancing script', cursive;
    background: transparent; /* pour ne pas cacher la texture */

}

.image-container {
    position: fixed;
    width: 100%;
    height: 100lvh; /* Cela permet de faire en sorte que l'image prenne la moitié de l'écran */
    overflow: hidden; /* Pour cacher la partie de l'image en dessous du milieu */
    top: 0;
    z-index: -1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.content {
    background-image: url("so-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    max-width: 1200px;
    margin: 5lvh auto;
}

.content h1 {
    font-family: 'Dancing Script', cursive; 
    font-size: 5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.content h1::before,
.content h1::after {
    content: "❄";
    font-size: 2rem;
    position: absolute;
    top: 0;
    min-height: 100vh;
}

.content p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 50px;
}


