* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.image-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -25%;
}

.title {
    position: absolute;
    top: 30%; /* Ajuster selon le placement souhaité du titre */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Great Vibes', cursive; /* Police festive */
    font-size: 4em; /* Ajuste la taille pour le titre */
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Ombre portée pour le texte */
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.content p {
    font-size: 1.2em;
    line-height: 1.5;
}
