/* Import de la police Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

html {
    position: relative;
}

html::before {
    content: "";
    position: fixed;
    inset: 0;
    opacity: 0.9;
    mix-blend-mode: multiply; /* rend le papier mieux */
    z-index: -1;
}

body {
    font-family: 'Dancing script', cursive;
    background: transparent; /* pour ne pas cacher la texture */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    position: fixed;
    width: 100%;
    height: 100lvh; /* Cela permet de faire en sorte que l'image prenne la moitié de l'écran */
    overflow: hidden; /* Pour cacher la partie de l'image en dessous du milieu */
    top: 0;
    z-index: -1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.content {
    background-image: url("so-white.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    padding: 5rem;
    text-align: center;

    width: 100%;
    max-width: 1200px;

    margin-top: 30vh; /* ← espace laissé pour l’image */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    min-height: 180vh;
}

.content h1 {
    font-family: 'Dancing Script', cursive; 
    font-size: 5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.content p {
    font-size: 1.8em;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2px;
}

.stamp {
    position: absolute;
    bottom: -5rem;
    right: 3rem;

    width: 320px; /* ajuste la taille */
    height: auto;

    opacity: 0.9; /* léger effet papier */
}

.qrcode {
    position: absolute;
    bottom: 3.5rem;
    left: 4rem;

    width: 170px; /* ajuste si besoin */
    height: auto;

    opacity: 0.85;
}

.formality {
    font-size: 1.6em;
    margin-top: 15rem;      /* espace depuis le titre */
    margin-left: 50px;    /* alignement avec le paragraphe */
    text-align: left;
    font-family: 'dancing script', cursive;   /* effet lettre */
    line-height: 15px;
}
